registry=http://localhost:8081/repository/Ds-Monorepo/

//localhost:8081/repository/Ds-Monorepo/:username=admin
//localhost:8081/repository/Ds-Monorepo/:_password=YWRtaW4xMjM0
//localhost:8081/repository/Ds-Monorepo/:email=subravjadhav@gmail.com
//localhost:8081/repository/Ds-Monorepo/:always-auth=true
